body {
    font-family: $page-font;
}

/** Elements **/
h1, h2, h3, h4, h5, h6 {
    @include text-colour( heading );
    @include font-weight();
}

h1, h2, h3, h4, h5, h6, p, a {
    letter-spacing: $letter-space;
}

p {
    @include text-colour();
    line-height: $text-line_height;
    padding-bottom: padding(6);
}

p, a {
    font-size: $text-font_size;
}

a {
    @include link-colour();
    text-decoration: none;
    outline: none;
    &:hover, &:not(.skip-link):focus {
        @include link-colour( hover );
        text-decoration: underline;
    }
    &:active, &:not(.skip-link):active {
        @include link-colour( active );
        text-decoration: none;
    }
}

button {
    @include btn-bg();
    color: $btn-text_colour;
    font-size: $btn-font_size;
    padding: $btn-pad;
    border: none;
    border-radius: $btn-border_radius;
    outline: none;
    &:hover {
        @include btn-bg( hover );
    }
    &:active {
        @include btn-bg( active );
    }
}

input[type="number"] {
    font-size: 1.125rem;
    padding: padding() padding(2);
    @include border(2);
    @include border-radius(2);
    outline: none;
}

li {
    list-style: none;
}

/** Selectors **/
.container {
    width: 100%;
    min-height: 100vh;
    @include page-bg();
    .page-title-container {
        text-align: center;
        padding: padding(8) 0 padding(16) 0;
    }
    .main-content {
        padding: padding(16);
    }
}

/** Skip Link **/
.skip-link {
    position: fixed;
    top: 0;
    left: 0;
    @include text-colour( dark-bg );
    @include btn-bg( active );
    padding: padding(2) padding(4);
    translate: 0 -100%;
    transition: translate 0.2s ease-in-out;
}

.skip-link:focus {
    translate: 0;
}