body {
    font-family: $page-font;
}

/** Elements **/
h1, h2, h3, h4, h5, h6 {
    color: map-get( $text-colour, heading );
    font-weight: map-get( $text-weight, bold );
}

h1, h2, h3, h4, h5, h6, p, a {
    letter-spacing: $letter-space;
}

p {
    color: map-get( $text-colour, body );
    line-height: $text-line_height;
    padding-bottom: map-get( $_-pad, x6 );
}

p, a {
    font-size: $text-font_size;
}

a {
    color: map-get( $link-colour, default );
    text-decoration: none;
    outline: none;
    &:hover, &:not(.skip-link):focus {
        color: map-get( $link-colour, hover );
        text-decoration: underline;
    }
    &:active, &:not(.skip-link):active {
        color: map-get( $link-colour, active );
        text-decoration: none;
    }
}

button {
    background-color: map-get( $btn-bg, default );
    color: $btn-text_colour;
    font-size: $btn-font_size;
    padding: $btn-pad;
    border: none;
    border-radius: $btn-border_radius;
    outline: none;
    &:hover {
        background-color: map-get( $btn-bg, hover );
    }
    &:active {
        background-color: map-get( $btn-bg, active );
    }
}

input[type="number"] {
    font-size: 1.125rem;
    padding: map-get( $_-pad, x1 ) map-get( $_-pad, x2 );
    border: ( $_-border_width * 2 ) solid $_-border_colour;
    border-radius: ( $_-border_radius * 2 );
    outline: none;
}

li {
    list-style: none;
}

/** Selectors **/
.container {
    width: 100%;
    min-height: 100vh;
    background-color: map-get( $page-bg, default );
    .page-title-container {
        text-align: center;
        padding: ( map-get( $_-pad, x4 ) * 2 ) 0 ( map-get( $_-pad, x4 ) * 4 ) 0;
    }
    .main-content {
        padding: ( map-get( $_-pad, x4 ) * 4 );
    }
}

/** Skip Link **/
.skip-link {
    position: fixed;
    top: 0;
    left: 0;
    color: map-get( $text-colour, dark-bg );
    background-color: map-get( $page-bg, dark );
    padding: map-get( $_-pad, x2 ) map-get( $_-pad, x4 );
    translate: 0 -100%;
    transition: translate 0.2s ease-in-out;
}

.skip-link:focus {
    translate: 0;
}